@import "bootstrap/bootstrap.less";
@FBblue: #375595;
@FBlightblue: #c4ccdf;
body {
  padding-top: 60px;
  padding-bottom: 40px;
  background:@FBblue;
}

@import "bootstrap/responsive.less";


/* ===== Primary Styles ========================================================
   Author:
   ========================================================================== */


@font-face {
    font-family: 'WebSymbolsRegular';
    src: url('../fonts/WebSymbols-Regular-webfont.eot');
    src: url('../fonts/WebSymbols-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/WebSymbols-Regular-webfont.woff') format('woff'),
         url('../fonts/WebSymbols-Regular-webfont.ttf') format('truetype'),
         url('../fonts/WebSymbols-Regular-webfont.svg#WebSymbolsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}


.stats{
	margin-top:@gridGutterWidth;
	.span4, .span12, .span8{
		background-color:@FBlightblue;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
	}

	.span4{
		height:225px;
	}

	.span4,.span8{
		position: relative;
		color:white;
		background-size:100%;
		text-align:center;
		h2{
			position:absolute;
			font-size:40px;
			text-align:center;
			#value{
				color:@FBblue;
			}
		}
		p{
			color:@FBblue;
			margin-top: 10px;
			font-size: 1.1em;
		}
	}
}

#FBuser{
		background:@FBlightblue url(../img/user.gif) 0 0 no-repeat;
}

#active_users{
	position: relative;
	h1{
		position: absolute;
		top: 50%;
		left: 15%;
		margin-top: -50px;
	}
}

#user{
	text-align: left;
	h3{
		padding-top: 8%;
	}

	h3#stock{
		padding-top: 2%;
	}
	h1 {
		color: #375595;
		font-size: 80px;
		line-height: 80px;
	}
}

#number_of_active_users{
	font-size: 60px;
}

#friends_value{
	background:@FBlightblue url(../img/brace.gif) 0 0 no-repeat;
	.braceValue{
		color: @FBblue;
		font-size: 3.5em;
		position: absolute;
		bottom: 50%;
		left: 30%;
	}
}

#friends{
	.dollarsign, .value{
		color: @FBblue;
		font-size: 1.9em;
		font-weight: bold;
		position: relative;
		top: 10%;
	}

	h3{
		font-size: 30px !important;
		position: relative;
		top: 3px;
	}
}

.friend{
	background:@FBlightblue url(../img/friend.gif) 0 0 no-repeat;
}

#market_cap{
	height: 100px;
	position: relative;

	.worth{
		font-size: 2em;
		color: white;
		font-weight: bold;
		margin-left: 20px;
		margin-right: 20px;
	}

	.value, .dollars{
		color: @FBblue;
		font-size: 5.9em;
		font-weight: bold;
		line-height: 100px;
	}

	.certificate{
		position: absolute;
		right: 20px;
		top: 50%;
		margin-top: -33px;
	}
}

#zuck{
	background:@FBlightblue url(../img/zuck.gif) 0 0 no-repeat;
	h2{
		left:50%;
		top:50%;
	}
}

#jet{
	background:@FBlightblue url(../img/jet.gif) 0 0 no-repeat;
	h2{
		width:200px;
		bottom:20px;
		left:50%;
		margin-left:-100px;
	}
}


#harvard{
		background:@FBlightblue url(../img/cap.gif) 0 0 no-repeat;
	h2{
		width:200px;
		bottom:20px;
		left:50%;
		margin-left:-100px;
	}
}

#instagram{
		background:@FBlightblue url(../img/instagram.gif) 0 0 no-repeat;
	h2{
		width:300px;
		bottom:20px;
		left:50%;
		margin-left:-150px;
	}

		#value{
		font-size: 1.3em;
	}
}

#winklevoss{
		background:@FBlightblue url(../img/wink.gif) 0 0 no-repeat;
	h2{
		width:280px;
		bottom:20px;
		left:50%;
		margin-left:-140px;
	}

	#value{
		font-size: 1.5em;
	}
}

#shares{
		background:@FBlightblue url(../img/stock.gif) 0 0 no-repeat;
	h2{
		width:200px;
		top:40%;
		left:70%;
		margin-left:-100px;
	}

	#value{
		font-size: 2.4em;
	}
}


.user_icon::before{
	font-family: 'WebSymbolsRegular';
	content:"U ";
	line-height:0;
	font-style:normal;
	position: relative;
	font-size: 15px;
	top:-3px;
}

#social_buttons{
	float:right;
	margin-top:-57px;
	width:200px;
	div{
		width:100px;
	}
	#tweet_button,.fb-like{
		float:left;
	}

}


footer{

	margin-top:20px;

	color:@FBlightblue;
	.line{
		height:5px;
		background:@FBlightblue;
		border-radius:10px;
	}
	p{
		padding-top:10px;
		float:right;
		a{
			color:#fff;
			&:hover{
				text-decoration:none;
			}
		}
	}
	#explanation{
	padding-top:10px;
	float:left;
	color:@FBlightblue;
	&:hover{
		text-decoration:none;
		color:lighten(#08C,10%);
	}
	h4{
		span{
			font-family: 'WebSymbolsRegular';
			font-size:80%;
			line-height:10px;
			position:relative;
			top:-2px;
		}
	}
}
}

.modal{
	.modal-header{
		h3{
			color:@FBblue;
		}
	}
	.modal-body{
		background-color:@FBlightblue;
		color:#000;
	}
	.modal-footer{
		background:@FBlightblue;
		padding:0;
		p{	
			font-size:90%;
			padding:10px 7px 0 0;
			color:white;
			a{
				color:@FBblue;
				&:hover{
					text-decoration:none;
				}
			}
		}
		
	}
}

@media (max-width: 480px) {
	.stats{
		margin-top:0;
		.span12{
			width:320px;
			margin:0 auto;
		}
		.span4,.span8{
			height:240px;
			width:320px;
			margin:0 auto;
		}
	}
}

@media (max-width: 767px) {
	.stats{
		margin-top:0;
		.span12{
			width:440px;
			margin:0 auto;
		}
		.span4,.span8{
			height:330px;
			width:440px;
			margin:0 auto;
		}
	}

}
@media (min-width: 768px) and (max-width: 979px) {
	.stats{
		margin-top:10px;
		.span4,.span8{
			height:171px;
		}
	}
}

@media (min-width: 1200px) {
	.stats{
		margin-top:15px;

		.span4{
			height:277px;
		}
		.span8#nested{
			height:277-230px;
			background-color:transparent;
			h3{
				font-size:36px;
				color:@FBblue;
				line-height:40px;
			}
		}
		.span2{
			height:230px;
		}
	}
}