@import "bootstrap/bootstrap.less";
@FBblue: #375595;
@FBlightblue: #c4ccdf;
body {
  padding-top: 60px;
  padding-bottom: 40px;
  background:@FBblue;
}

@import "bootstrap/responsive.less";


/* ===== Primary Styles ========================================================
   Author:
   ========================================================================== */


@font-face {
    font-family: 'WebSymbolsRegular';
    src: url('../fonts/WebSymbols-Regular-webfont.eot');
    src: url('../fonts/WebSymbols-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/WebSymbols-Regular-webfont.woff') format('woff'),
         url('../fonts/WebSymbols-Regular-webfont.ttf') format('truetype'),
         url('../fonts/WebSymbols-Regular-webfont.svg#WebSymbolsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}


.stats{
	margin-top:@gridGutterWidth;
	.span4, .span12{
		background-color:@FBlightblue;
	}
	.span4{
		height:225px;
		position: relative;
		color:white;
		background-size:100%;
		text-align:center;
		h2{
			position:absolute;
			font-size:40px;
			text-align:center;
			#value{
				color:@FBblue;
			}
		}
		p{
			color:@FBblue;
		}
	}
}

#FBuser{
		background:@FBlightblue url(../img/user.png) 0 0 no-repeat;
		background-size: 75%;
}

#active_users{
	position: relative;
	h1{
		position: absolute;
		top: 50%;
		left: 15%;
		margin-top: -50px;
	}
}

#user{
	h1 {
		color: #375595;
		font-size: 80px;
		line-height: 80px;
	}
}

#number_of_active_users{
	font-size: 60px;
}

#how_many{
	color: white;
	height: 80px;
	text-align: center;
	h3{
		font-size: 50px;
		line-height: 80px;
	}
}

#zuck{
	background:@FBlightblue url(../img/zuck.gif) 0 0 no-repeat;
	h2{
		left:50%;
		top:50%;
	}
}

#jet{
	background:@FBlightblue url(../img/jet.gif) 0 0 no-repeat;
	h2{
		width:200px;
		bottom:20px;
		left:50%;
		margin-left:-100px;
	}
}


#harvard{
		background:@FBlightblue url(../img/cap.gif) 0 0 no-repeat;
	h2{
		width:200px;
		bottom:20px;
		left:50%;
		margin-left:-100px;
	}
}

#instagram{
		background:@FBlightblue url(../img/instagram.gif) 0 0 no-repeat;
	h2{
		width:200px;
		bottom:20px;
		left:50%;
		margin-left:-100px;
	}
}

#winklevoss{
		background:@FBlightblue url(../img/wink.gif) 0 0 no-repeat;
	h2{
		width:200px;
		bottom:20px;
		left:50%;
		margin-left:-100px;
	}
}

#shares{
		background:@FBlightblue url(../img/stock.gif) 0 0 no-repeat;
	h2{
		width:200px;
		bottom:20px;
		left:50%;
		margin-left:-100px;
	}
}


.user_icon::before{
	font-family: 'WebSymbolsRegular';
	content:"U";
	line-height:0;
	font-style:normal;
	position: relative;
	font-size:0.8em;
	top:-4px;
	color:#fff;
}

@media (max-width: 480px) {
	.stats{
		margin-top:0;
		.span12{
			width:320px;
			margin:0 auto;
		}
		.span4{
			height:240px;
			width:320px;
			margin:0 auto;
		}
	}
}

@media (max-width: 767px) {
	.stats{
		margin-top:0;
		.span12{
			width:440px;
			margin:0 auto;
		}
		.span4{
			height:330px;
			width:440px;
			margin:0 auto;
		}
	}

}
@media (min-width: 768px) and (max-width: 979px) {
	.stats{
		margin-top:10px;
		.span4{
			height:171px;
		}
	}
}

@media (min-width: 1200px) {
	.stats{
		margin-top:15px;
		.span4{
			height:277px;
		}
	}
}







